body {
    font-family: Arial, sans-serif;
}

header h1 {
    text-align: center;
    padding: 20px 0;
}

form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label, form input[type="text"], form input[type="number"], form textarea, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
}

form fieldset {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

form fieldset legend {
    font-size: 18px;
    margin-bottom: 10px;
}

form .campos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form .campo {
    width: 48%;
}

@media (max-width: 720px) {
    form {
        width: 100%;
    }

    form .campos {
        flex-direction: column;
    }

    form .campo {
        width: 100%;
    }
}
